.checker {
    margin-top: 40px;
    text-align: center;
    margin: 0 auto;
}

#search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    height: 20px;
    width: 250px;
    margin-right: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

.btn {
    background-color: #787878;
    border: 0.5px solid rgb(84, 84, 84, 0.3);
    /* border: none; */
    border-radius: 5px;
    font-size: 17px;
    color: white;
}

#informationEl {
    margin-top: 50px;
}

.lacquerGood {
    color: green;
}

.lacquerBad {
    color: red;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

.lacquerEl {
    font-size: 25px;
}

@media screen and (max-width: 768px) {
    .checker {
        background-color: rgba(255, 255, 255, 0.7);
        margin-top: 60px;
        padding: 40px;
        width: 70%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
        border: 1px solid white;
    }
}