.checker {
    margin-top: 40px;
    text-align: center;
}

#informationEl {
    margin-top: 50px;
}

.lacquerGood {
    color: green;
}

.lacquerBad {
    color: red;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

.lacquerEl {
    font-size: 25px;
}