#searchForm {
    display: flex;
    justify-content: center;
}

.input {
    height: 30px;
    width: 250px;
    margin-right: 10px;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

.btn {
    background-color: #cf2e34;
    border: 0.5px solid rgb(84, 84, 84, 0.3);
    /* border: none; */
    border-radius: 5px;
    font-size: 17px;
    color: rgb(245, 227, 207);
}

.btn:hover {
    background-color: #8a1e21;
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    .input {
        width: 150px;
    }
}